* {
    margin: 0;
    padding: 0;
}

body {
    color:#000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: Raleway, sans-serif;
}

header {
    display: grid;
    margin: 92px 49px 80px 41px;
    max-width: 1340px;
    max-height: 109;
    grid-template-columns: 1fr min-content 1fr; /* !!! */
    justify-content: space-between;
    /* justify-items: center; */  /* !!! *//* !!! */ 
}

.header__menu {
    justify-self: start;
    align-self: center;
    
}

.header__links-list {
    display: inline-flex;
    gap: 32px;
    list-style: circle;
}

/* .header__links-list-item {
    color:#000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} */

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__logo {
    display: block;
    /* width: 135px; */ /* !!! */
    width: 148px;
    height: 105px;
    flex-shrink: 0;
    margin-bottom: 4px;
    
    /* border: 1px #000 solid; !!! */
}

.header__logo-image {
    height:100%; /* !!! */
}

.address {
    width: 240px;
    flex-shrink: 0;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
    font-family: Raleway, sans-serif;
}

.header__address {
    justify-self: end;
    align-self: center;
}

.text-underline {
    /* text-decoration: none;
    border-bottom: 1px #000 solid; */
    text-underline-offset: 4px;  /* !!! */
}

.cover {
    height: 757px;
    background-image: url("../images/cover.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay {
    position: absolute;
    background-color: #000;
    opacity: 0.6;
    z-index: 1;
}

.overlay_cover {
    height: 757px;
    width: 1440px;
    top: 293px;
    left:0;
}

.cover__title {
    padding: 165px 50px 129px 50px;
    position: relative;
    z-index: 2;
    /* display: flex;
    flex-direction: column; */
    color:#fff;
    font-size: 100px;
    font-weight: 700;
    font-style: normal;
    line-height: 1.15;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
    
}


.aligned-text {
    display: block;
    letter-spacing: 3px;
}

.aligned-text_NO-sign {
    letter-spacing: 60px;
}

.aligned-text-center {
    display: block;
    padding: 12px 0 6px;
    letter-spacing: 5px;
    text-align: center;
    /* align-self: center; */
}

.aligned-text-center_E-sign {
    letter-spacing: 0px;
}
.aligned-text-center_BE-sign {
    letter-spacing: 61px;
}

.aligned-text-right {
    display: block;
    letter-spacing: 0px;
    text-align: end;
    /* align-self: flex-end; */
}

.aligned-text-right_N-sign {
    letter-spacing: 36px;
}

.aligned-text-right_A-sign,
.aligned-text-right_D-sign {
    letter-spacing: 6px;
}


.cover__discription {
    display: grid;
    grid-template-columns: 1fr min-content;
    position: relative;
    z-index: 2;
}

.cover__discription-text {
    word-spacing: 1px;
    margin: 0 0 62px 422px;
    align-self: center;
    color:#fff;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 17px;
    padding-top: 10px;
    font-family: Raleway, sans-serif;
}

.cover__discription-text-last-word {
    padding-left: 5px;
}

.bet-button { /* проверить текст */
    justify-self: end;
    flex-shrink: 0;
    margin: 0 50px 50px 0;
    width: 257px;
    height: 52px;
    background: transparent;
    border: 1px #fff solid;
    color:#fff;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
    font-family: Raleway, sans-serif;
}

.lots {
    margin: 180px 50px 0 50px;
    max-width: 1340px;
    min-height: 579px;
    flex-shrink: 0;
}

.lots__heading {
    margin: 0 0 27px 40px;
    color:#000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
}

.lots__card-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.lots__card-list-item {
    flex-grow: 1;
    margin-right: 25px;

}

.lots__card-list-item:nth-child(3n) {
    margin-right: 0;
}

.card-link {
    text-decoration: none;
    height: 100%;
}

.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.card {
    width: 430px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    
}

.overlay_card {
    width: 430px;
    height: 450px;
    left:0;
    top:0;
}

.card__title {
    padding: 50px 40px 0;
    color:#fff;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: underline;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
    z-index: 2;
}

.card__text {
    padding: 0 40px 50px;
    color:#fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    font-family: Raleway, sans-serif;
    z-index: 2;
    
    
}

.lots__look-more-link {
    display: block;
    margin: 30px 0 0 40px;
    color:#000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    font-family: Raleway, sans-serif;
}

.about {
    margin: 185px 0 0 50px;
    display: grid;
    grid-template-columns: 430px 1fr;
}

.about__colunm {
    
}

.about__logo {
    height: 240px;
    width: 240px;
    margin: 0 95px;
    border-radius: 120px;
    background-color: #000;
}

.about__logo-image {

}

.footer {
    margin:180px 50px 90px;
    display: grid;
    grid-template-columns: min-content max-content max-content;
    justify-content: space-between;
}

.footer__menu {
    justify-self: center;
    align-self: start;
}

.footer__menu-list {

}

.footer__menu-list-item {

}

.footer__social-list {

}

.footer__social-list-item {

}

.footer__social-link {

}

.footer__social-icon {
    
}